
<app-header></app-header>
<div class="row padclas">
<div class="col-25">
<img src="/assets/support.jpg">
</div>
<div class="col-75">
    <div class="discription">
        <hr>
      <p ><b>SUPPORT</b></p>
      <p>
          Questions or concerns about your STANLEY® product?
      Explore our self-service options below or contact us now.
      Get specific product help and information by searching for your product here:<p>
      <hr>
        <p><b>CONTACT US</b></p>
        <p>CALL US ON : 1-800-262-2161 | MON-FRI 8AM-5:530PM</p>
      
        
            </div>
  </div>
</div>

<!-- <app-footer></app-footer> -->