<app-header></app-header>
<div class="product-description section">
  <div class="container">
    <div class="g-section">
      <div class="row">
        <div class="col-md-4">
          <div id="pd-carousel" class="carousel slide" data-interval="false">
            <ol class="carousel-indicators align-items-center">
              <li data-target="#pd-carousel" data-slide-to="0" class="active">
                <img src="./assets/pd-img.jpg" class="img-fluid" />
              </li>
              <li data-target="#pd-carousel" data-slide-to="1">
                <img src="./assets/pd-img2.jpg" class="img-fluid" />
              </li>
              <li data-target="#pd-carousel" data-slide-to="2">
                <img src="./assets/pd-img3.jpg" class="img-fluid" />
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!-- <img class="d-block w-100" src="/assets/pd-img.jpg" alt="First slide"> -->
                <img [src]="Productimage" class="d-block w-100" />
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/pd-img2.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="/assets/pd-img3.jpg" alt="Third slide">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pd-content">
            <h3 class="title">
              <small>DeWalt</small> 25 FT. FATMAX® Auto-Lock Tape Measure</h3>
            <p class="des">It's innovation you can measure. The new STANLEY® Auto-Lock 25 ft. Measuring Tape is the first auto-locking tape
              with 11 ft. blade standout. The Auto-Lock mechanism holds the blade secure until you are ready to release it,
              and a detachable framing hook is ready to grab studs when you need it. When it comes to increasing your productivity,
              let FATMAX® give you a hand.</p>
            <h6>FEATURES & BENEFITS</h6>
            <ul>
              <li>3 FT. STRAIGHTER STANDOUT* - Straighter reach than ever before</li>
              <li>COMPACT CASE DESIGN - Less bulk and a comfortable grip, it's easier to hold and takes up less space on your
                tool belt**</li>
              <li>2X MORE BLADEARMOR® COATING** - 6 in. of BladeArmor® reinforcement to help reduce breakage at the hook</li>
              <li>MAXSHIELD™ BLADE COATING - The longest-lasting blade coating ever applied to a FATMAX® tape measure</li>
            </ul>
            <h4 h3 class="pd-content">Price: $ {{Itemprice}}</h4>
           
          </div>
        </div>
        <div class="col-md-2">
          <div class="add-cart sticky">
            <a (click)="ADDProduct()" class="btn ">Add to cart</a>
          </div>
        </div>
      </div>
      <hr />
      <div class="g-section-title">
        <h3>Related Products</h3>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="feature-item">
            <div class="f-img">
              <img src="/assets/link6.png" href="/mycart" alt="">
            </div>
            <div class="f-content">
              <p>
                <small>DeWalt</small> 20V Max Premium 4 tool combo kit
              </p>
            </div>
            <div class="f-price">

              <h5>
                <small>Price</small> $20.99
              </h5>
            </div>
            <a [routerLink]="['/mycart']" class="btn">Add to cart</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature-item">
            <a [routerLink]="['/productdetail']" class="f-img" data-toggle="popover" data-content="We make STANLEY® Anti-Vibe® Hammers with the professional in mind. Made of one-piece double forged steel head and handle for swing and durability ">
                            <img src="/assets/link4.png" alt="">
                        </a>
            <div class="f-content">
              <p>
                <small>DeWalt</small> 20V Max Premium 4 tool combo kit
              </p>
            </div>
            <div class="f-price">

              <h5>
                <small>Price</small> $43.28
              </h5>
            </div>
            <a [routerLink]="['/mycart']" class="btn">Add to cart</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature-item">
            <div class="f-img">
              <img src="/assets/link3.png" alt="">
            </div>
            <div class="f-content">
              <p>
                <small>DeWalt</small> 20V Max Premium 4 tool combo kit
              </p>
            </div>
            <div class="f-price">

              <h5>
                <small>Price</small> $32.19
              </h5>
            </div>
            <a [routerLink]="['/mycart']" class="btn">Add to cart </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="feature-item">
            <div class="f-img">
              <img src="/assets/link2.png" alt="">
            </div>
            <div class="f-content">
              <p>
                <small>DeWalt</small> 20V Max Premium 4 tool combo kit
              </p>
            </div>
            <div class="f-price">

              <h5>
                <small>Price</small> $11.00
              </h5>
            </div>
            <a [routerLink]="['/mycart']" class="btn">Add to cart </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>