
<app-header></app-header>


   


<div class="cols__col cols--two-col--main-left__col--left bckgrd">
                
    <article class="rtf page-content page-module page-module__inner" role="article">
            <h1 class="page-headline" id="Contact-Us" tabindex="-1">News &amp; Press Releases </h1>





    </article>

        <ol class="news-plus-press is-ajax-parent" aria-label="News Press" data-ajax-scope="pageAjax" data-ajax-url="/api/sitecore/SharedAbout/GetNewsAndPressArticlesJson" data-ajax-template-id="newsPlusPressItem">
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2018-10-31">October 31, 2018</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/stanley-r-introduces-new-line-of-safety-knives-2787090" target="_blank" class="news-plus-press__link">STANLEY® Introduces New Line of Safety Knives</a>
                </li>
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2018-10-25">October 25, 2018</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/stanley-announces-exclusive-partnership-with-the-home-depot-2781360" target="_blank" class="news-plus-press__link">STANLEY Announces Exclusive Partnership with The Home Depot</a>
                </li>
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2018-06-21">June 21, 2018</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/stanley-commemorates-175th-anniversary-2558853" target="_blank" class="news-plus-press__link">STANLEY Commemorates 175th Anniversary</a>
                </li>
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2018-05-31">May 31, 2018</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/stanley-introduces-2018-stanley-r-fatmax-r-tape-measure-2558823" target="_blank" class="news-plus-press__link">STANLEY  Introduces  2018  STANLEY®  FATMAX®  Tape  Measure  </a>
                </li>
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2017-10-25">October 25, 2017</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/stanley-packs-convenience-and-ease-into-its-smallest-rechargeable-laser-distance-measurer-2233656" target="_blank" class="news-plus-press__link">STANLEY Packs Convenience and Ease Into Its Smallest Rechargeable Laser Distance Measurer </a>
                </li>
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2017-09-28">September 28, 2017</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/stanley-earns-three-pro-tool-innovation-awards-for-laser-distance-measurer-pliers-and-ratchets-2181699" target="_blank" class="news-plus-press__link">STANLEY Earns Three Pro Tool Innovation Awards for Laser Distance Measurer, Pliers and Ratchets</a>
                </li>
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2017-07-13">July 13, 2017</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/new-stanley-r-120-tooth-ratchet-provides-more-than-2x-the-access-star-along-with-style-performance-and-quality-2066874" target="_blank" class="news-plus-press__link">New STANLEY® 120 Tooth Ratchet Provides More Than 2X the Access* Along With Style, Performance and Quality</a>
                </li>
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2017-06-19">June 19, 2017</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/stanley-r-introduces-210-piece-mixed-tools-set-2025556" target="_blank" class="news-plus-press__link">STANLEY® Introduces 210-Piece Mixed Tools Set </a>
                </li>
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2017-03-29">March 29, 2017</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/stanley-black-and-decker-inc-introduces-the-stanley-r-model-1-3d-printer-1885184" target="_blank" class="news-plus-press__link">Stanley Black &amp; Decker, Inc. Introduces the  STANLEY® Model 1 3D Printer</a>
                </li>
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2017-03-10">March 10, 2017</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/stanley-attends-sxsw-trade-show-1852614" target="_blank" class="news-plus-press__link">STANLEY Attends SXSW Trade Show</a>
                </li>
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2017-02-07">February 07, 2017</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/stanley-r-announces-ace-peer-resource-center-as-third-round-winner-of-build-your-america-contest-2016-1791360" target="_blank" class="news-plus-press__link">STANLEY® Announces A.C.E. Peer Resource Center as  Third Round Winner of Build Your America Contest 2016 </a>
                </li>
                <li class="news-plus-press__item">
                        <time class="news-plus-press__date t4" datetime="2016-11-03">November 03, 2016</time>
                    <a href="https://www.mynewsdesk.com/us/stanley/pressreleases/stanley-announces-kulturecity-as-second-round-winner-of-build-your-america-contest-2016-1632814" target="_blank" class="news-plus-press__link">STANLEY Announces KultureCity as Second Round Winner of Build Your America Contest 2016          </a>
                </li>
        </ol>

   

        </div>