<app-header></app-header>
<div>
<b>
  <div> <img src="src\app\assets\22.png" alt="">
      DOUBLE-SIDED BI-MATERIAL PULL CUTTER <br>
      <label for="female">Price : $10</label> &nbsp; &nbsp;<button>Add To Cart</button> 
     
  </div>
  

   <div>
       DOUBLE-SIDED BI-MATERIAL PULL CUTTER - 10 PK <br>
       <label for="female">Price : $12</label> &nbsp; &nbsp;<button>Add To Cart</button> 
  </div>
  

   <div>
     DOUBLE-SIDED PULL CUTTER - 100 PK <br>
     <label for="female">Price : $14</label> &nbsp; &nbsp;<button>Add To Cart</button> 
  </div>
   

   <div>
       DOUBLE-SIDED BI-MATERIAL PULL CUTTER <br>
       <label for="female">Price : $10</label> &nbsp; &nbsp;<button>Add To Cart</button> 
  </div> 
   <div>
    FATMAX® AUTO-RETRACT SQUEEZE SAFETY KNIFE <br>
    <label for="female">Price : $15</label> &nbsp; &nbsp;<button>Add To Cart</button> 
  </div>
   

   <div>
       FATMAX® AUTO-RETRACT TRI-SLIDE SAFETY KNIFE <br>
       <label for="female">Price : $20</label> &nbsp; &nbsp;<button>Add To Cart</button> 
     
  </div>
 
   </b>
   </div>



 